.app {
  display: flex;
}

.app .appbar {
  margin-top: 0;
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  flex: 1;
  position: relative;
}

.workspace {
  max-height: 90vh;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  overflow-y: auto;
}

.app,
body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 10px !important;
}

.app-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f5f8fa;
}

.graph{
  width: 40vw;
  height: 60vh;
  flex: 1 1 50%;
  position:relative
}
/* 
.leaflet-container {
  width: 100vw!important;
  height: 100vh !important;
} */

.app-wrapper.pt-dark {
  background-color: #111010;
}

.floating-overlay {
  width: 50vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}

.overlay-card {
  padding-right: 27px;
  width: 300px;
  pointer-events: all;
}

.scatter-overlay-card {
  /* padding-right: 27px; */
  width: 50vw;
  height: 40vh;
  
  pointer-events: all;
  /* margin-top: -1em; */
  padding-top: 1.1em;
  /* max-height: 500px; */
}

.filter-overlay-card {
  padding-right: 27px;
  width: 300px;
  height:400px;
  overflow-y: auto;
  pointer-events: all;
  margin-top: -1em;
  padding-top: 1.1em;
  max-height: 500px;
}



.scatterchart {
  /* margin-top: 20px; */
}

.left-cards {
  position: absolute;
  border-top: 4px;
  left: 0em;
  opacity: 1;
  background-color: white;
  transition: left 0.3s;
}

.right-cards {
  position: absolute;
  border-top: 4px;
  right: 0em;
  opacity: 1;
  background-color: white;
  transition: right 0.3s;
}

#scatter-plot{
 
  /* width: 250px;
  height:250px; */
  
  right: 0em;
  opacity: 1;
  /* background-color: white; */
  transition: right 0.3s;
  margin-left: 20px
}

.scatter-plot-font{
 font-size: 10px;
}
.graph-option{
  top: 75px;
}

.filter-option{
  top: 75px;
}

.left-overlay-card {
  margin-top: -1em;
  padding-top: 1.1em;
  overflow-y: auto;
  max-height: 530px;
}



.zoom-buttons {
  margin-right: 20px;
  position: absolute;
  bottom:40vh;
  right:0;
  margin-bottom: 100px;
  pointer-events: all;
}

.zoom-button {
  margin-bottom: "5px";
}

.bp4-button{
  line-height:15px;
  height:15px;
  min-height: 15px;
  font-size: 12px;
}

/* width */
::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212c34; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #435a6a; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495964; 
}


.openbtn {
  margin-left: 8px;
  margin-top: 3em;
  font-size: 10px;
  cursor: pointer;
  background-color: #465d6e;
  padding: 18px 23px;
  border: black;
  border-radius: 10%;
  font-size: 15pt;
  color: white;
  transition: margin-left 0.2s;
}

.openbtn1 {
  margin-left: 8px;
  margin-top: 6em;
  font-size: 10px;
  cursor: pointer;
  background-color: #465d6e;
  padding: 18px 23px;
  border: black;
  border-radius: 10%;
  font-size: 15pt;
  color: white;
  transition: margin-left 0.2s;
}

.openbtn:hover {
  background-color: rgb(20, 23, 36);
}

.openbtn:active {
  background-color: #465d6e;

}
.openbtn2 {
  margin-left: 235px;
  padding-top: 2.3em;
  margin-top: -2.35em;
  font-size: 40px;
  color: rgb(162, 175, 201);
  cursor: pointer;
  background-color: transparent;
  border: black;
  transition: margin-left 0.3s;
}

.openbtn3 {
  margin-left: 235px;
  padding-top: 2.3em;
  margin-top: -2.35em;
  font-size: 40px;
  color: rgb(162, 175, 201);
  cursor: pointer;
  background-color: transparent;
  border: black;
  transition: margin-left 0.3s;
  transform: translate(-230px, -1vh);
}

.openbtn2:hover {
  color: rgb(20, 23, 36);
}

.openbtn2:active {
  color: rgb(106, 123, 158);

}

.legend-card {
  margin-top: 5em;
}

.right-overlay-card {
  right: 5em;
  bottom: 5em;
  position: absolute;
  word-wrap: break-word;
}

.minimal-navbar-right {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
}

.minimal-navbar-left {
  position: absolute;
  top: 35px;
  left: 15vw;
  z-index: 100;
}

.navbar-head{
  position: absolute;
  z-index: 100;
  width: 100vw;
  
}

.leaflet-control-container { 
  /* position: absolute;
  right: 60px;
  bottom: 0;
  margin-bottom: 200px;
  right: 60px; */
}

.leaflet-control-attribution a{
  font-size: 0px;
}

.leaflet-control-layers{
  transform: translate(-35vw,-50px) scale(0.5);
}

.bottom-status-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 25px;
  background-color: #30404D; /* Fallback background color, please set color programmatically according to theme */
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-status-bar__left {
  margin: 5px 10px 5px 10px;
}

.bottom-status-bar__right {
  margin: 5px 10px 5px 10px;
}

button.pt-fill.text-align-left {
  display: flex;
  justify-content: space-between;
}

button.pt-fill.text-align-left > .pt-icon-standard.pt-align-right {
  /* margin-top: 7px; */
}



td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.import-preview-table {
  height: 200px;
  margin-bottom: 15px;
}

.import-dialog {
  line-height: 30px;
}

.pt-non-ideal-state {
  min-width: 600px;
}

.pt-non-ideal-state-action {
  min-width: 100%;
  text-align: center;
}

.pt-spinner {
  margin: 200px auto;
}

.pt-slider{
  width:90%;
  height:10px;
  min-width: 10px !important;
  left:10px;

}

.pt-slider-handle {
  width:10px;
  height:10px;
  transform: translate(100%, 4px);
  font-size: 12px !important;
}


.pt-slider-label {
  font-size: 12px !important;
  transform: translate(-20%, 10px);
}

.pt-slider-track, .pt-slider-progress{
width: 80%  ;
transform: translate(10px, 0);
/* left:10% !important; */
}

.pt-slider-handle {
  transform: translate(80%, 4px);
}


div.pt-card.sub-option {
    line-height: 15px;
    /* max-width: 15vw; */
    padding: auto;
}

.range-slider-container{
  height:25px;
  width:100%
}

.pt-input{
line-height: 15px;
}



.pt-input-ghost{
  height: 15px;
  width: 100%;
  font-size: 9px;
}

.pt-multi-select {
  height: 15px;
}

.distribution-title{
position: absolute;
transform: translate(3vw,0px);
font-size: 10px;
}

.gradient-preview {
  margin-top: 20px;
}

div.legends {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 10px;
  bottom: 60px;
}

div.legends .scale-legend {
  margin-right: 2em;
}

div.legends .scale-legend .vx-legend-shape {
  flex-grow: 1;
  align-items: center;
}

div.legends .scale-legend .vx-legend-item {
  justify-content: space-between;
}

div.legends .scale-legend .vx-legend-item .vx-legend-label {
  flex: none !important;
}


div.pt-card.sub-option.legend {
  width: 50%;
  overflow: hidden;
}

.transparent-frame {
  opacity: 0.9;
}

.node-details-table {
  overflow-x: auto;
  overflow-y: auto;
  /* max-width: 350px;
  max-height: 40vh; */
  font-size: 0.4em;
  pointer-events: all;
  padding: 0 !important;
}
.node-details-table-content {
  table-layout: fixed;
  font-size: 10px;
}

.argo-menu-list-header {
  font-size: 1.5em;
  color: lightslategray;
  margin-bottom: 10px;
}

.argo-table-container {
  overflow: auto;
  max-width: 80vw;
  max-height: 80vh;
}

.argo-table-container__table {
  border-collapse: collapse;
}

.argo-table-container__table th {
  white-space: normal;
}

.argo-table-container__table td {
  white-space: normal;
}

.argo-selection-action-panel {
  right: 300px;
  top: 50px;
  position: absolute;
  pointer-events: all;
}

/* Override blueprint numeric input, since it's useless unless inline */
.pt-numeric-input.pt-control-group {
  display: inline-flex;
}

.filter-scroll {
  max-height: 150px;
  overflow-y: auto;
}

.network-tag{
  /* display: none; */
  display: inline-block;
  margin-top: 5vh;
  /* margin-left: 18vw; */
  font-size: 12px;
  height: 20px;  
  position:absolute;
  top:3px;
  z-index: 10;
}

.map-tag{
    margin-top: 5vh;
    display: inline-block;
  /* display: none; */
    font-size: 12px;
    height: 20px;
    z-index: 1000;
    top:3px;
    position:absolute; 
}

.scatterplot-label{

}
.vx-axis-label{
  transform: translate(0px, 10px)
}

.xaxis text{
 transform:  rotate(-90deg) translate(-20px, -10px);
}

.leaflet-tooltip {
  background:none;
/*   display: none; */
text-overflow: ellipsis;
    overflow: hidden;
   fillColor: none;
    fillOpacity: 0;
    background-color: none;
    border-color: none;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0px;
    cursor: none;
    direction: 'center';
    interactive: false;
    fill: false;
  color:black;
  font-size:10px;
  line-height:2px;
  border-radius: 0px;
  border: 6px solid transparent;
  }

  .pt-multi-select{
 height: auto;
  }

.outer-container {
  display: flex;
  flex-direction: column;
  width: 83vw;
}
/* Slider */
.container {
  display: flex;
  /* Misc */
  border: 1px solid #cbd5e0;
  width: 100%;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}
.container-up {
  height: 55%;
}
.container-down {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  overflow: auto;
}
.container__left {
  /* Initially, the left takes 3/4 width */
  width: 32.5vw;

  /* Misc */
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.resizer {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
}
.resizer-up {
  background-color: #cbd5e0;
  cursor: ns-resize;
  width: 100%;
  height: 2px;
}
.container__right {
  /* Take the remaining width */
  flex: 1;

  /* Misc */
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: auto;
  text-align: center;
}

/* Nav */
.pt-navbar {
  display: flex;
  height: 30px;
}

.pt-navbar-group{
  display: flex;
  height: 30px;
}


/* Sidebar */
.sidebarButton {
  font-size: 10px !important;
  width: 33.3% !important;
}
.sidebar-menu {
  display: flex;
  width: 17vw;
}

.pt-tab{
  font-size:9px
}

table.pt-table {
  border-spacing: 0;
  font-size: 10px;
}

.pt-large{
  font-size:9px
}

.pt-button{
  font-size:12px !important;
  height:15px;
  line-height: 15px;
  min-width: 0px;
    min-height: 0px;
}

.pt-button.pt-small {
  min-width: 0px;
  min-height: 0px;
  line-height: 15px;
  padding: 0 7px;
}

.pt-button.pt-large{
  font-size:9px;
  min-width: 0px;
    min-height: 0px;
    padding: 0 6px;
    line-height: 15px;
   
}

.pt-card{
  font-size: 12px;
  padding:5px;
}



.pt-menu{
  min-width: 0px;
}

.option-font{
  font-size: 12px !important;
}

.pt-menu-item{
  padding: 2px;
  font-size: 12px !important;
}

/* .pt-popover-target {
  width:100%
} */



.pt-large.pt-button{
  font-size:9px;
  min-width: 0px;
    min-height: 0px;
   
    
}


.pt-tag.pt-tag-removable {
  padding-right: 20px;
  font-size: 10px;
  height: 13px;
  line-height: 9px;
}
.pt-tag-remove {
  font-size: 10px;
}
.w3-button{
  font-size:9px;
  padding: 2px 2px;
}
.w3-bar-item-button {
  padding: 8px 0px !important; 
  border-style: solid !important;
  margin: 0px auto;
    display: inline-block !important;
    float: none !important;
}

.w3-black{
  text-align: center;
}




.sidebar-container {
  /* margin-top: 25%; */
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.city {
  width: 100%;
}

  .pt-transition-container{
    z-index: 5000
  }

.tg-pt-dialog-resizable-draggable
  .pt-overlay.pt-overlay-scroll-container.pt-overlay-inline {
  position: static;
  height: 50%;
  width: 50%;
}
.tg-pt-dialog-resizable-draggable .pt-overlay-inline .pt-overlay-content,
.tg-pt-dialog-resizable-draggable
  .pt-overlay-scroll-container
  .pt-overlay-content {
  position: static;
  width: 50%;
  height: 50%;
}
.tg-pt-dialog-resizable-draggable .pt-dialog-container .pt-dialog {
  position: static;
  width: 50%;
  height: 50%;
  margin: 0 !important;
}
.tg-pt-dialog-resizable-draggable .pt-dialog-header {
  cursor: move;
}
.tg-pt-dialog-resizable-draggable .pt-dialog-body {
  height: 50%;
  margin: 0px !important;
  width: -webkit-fill-available;
  overflow: auto;
}
.tg-pt-dialog-resizable-draggable .pt-overlay-backdrop {
  display: none;
}

#statTable {
  margin: 0px !important;
}


/* selection */
.vx-axis-label {
  font-size: 12px !important;
  font-family: Verdana !important;
}

/* table */
.pt-table {
  font-size: 12px !important;
}
/* sidebar */
.pt-tab {
  font-size: 12px !important;
}

.pt-navbar-divider {
  height: 100%;
}
.pt-button{
  padding: 5 !important;
}
#edgesvg {
  padding-left: 5;
}

#fileButton {
  line-height: 10px;
}